body {

	background-color: #efeee7;
	font-family: "Georgia",Times New Roman,Times,serif;
	color: #333333;
	margin:0;
	padding:0;
}


header {
	background-color: #333333;
	color: #efeee7;
	margin-top: -20px;
	padding:8px; 
	text-align: center;
}

.container h1 {
	
	font-size: 28px;

}
.container {
 	width: 1024px;
	margin: 0 auto;
	padding: 10px;

}

h2 {
	font-size: 25px;
	margin-bottom: -15px;
}

li {
	font-weight: 20px;
	font-size: 18px;
}

p {
	font-size: 20px;
}
#main-bio {
	width: 70%;
	float: left;
	margin: 10px;
	padding-right: 20px;
}

#contact-info {
	float; left;
	line-height: 1.5;
	/*width: 30%;*/
	padding-top: 5px;
	margin: 10px;

}

#bio-image {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 10px;
}